* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: rgb(21,105,0);
    background: linear-gradient(335deg, rgba(21,105,0,1) 22%, rgba(36,0,73,1) 100%);
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    background-attachment: fixed;
}

.avatar{
    width: 80px;
    border-radius: 100%;
    height: 80px;
    border: 2px;
    border-style: solid;
    border-color: rgb(18, 0, 59);
    box-shadow: 0 0 5px;
}

.profile {
    text-align: center;
    margin-top: 24px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}

h2 {
    font-size: 16px;
    font-family: 'Share Tech Mono', monospace;
    font-weight: 100;
}

.social img{
    width: 30px;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;
}

.link-list {
    list-style: none;
}

.link-list li {
    margin: 10px 20px; 
}

.link-list li a {
    background-color: rgb(250, 250, 250);
    display: block;
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(0, 61, 10) ;
    font-weight: bold;
    font-size: 23px;
    box-shadow: 0 0 10px white;
}

.link-list li a span {
    display: block;
    color: rgb(59, 59, 59);
    font-size: 17px;
    font-style: italic;
    margin-top: 10px;
}